.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffffff8c;
}

.details {
  position: fixed;
  width: 70vw;
  height: 70vh;
  z-index: 100;
  background-color: white;
  box-shadow: 0 3px 10px 2px #999999;
  left: 15vw;
  top: 15vh;
  overflow: auto;
}

.content {
  overflow: hidden;
  word-break: break-word;
  height: 100%;
  margin: 20px;
}

.close {
  height: 20px;
  margin: 7px;
}

.close-btn {
  color: #808080;
  cursor: pointer;
}

.movie-details {
  width: 60%;
  margin-right: 12px;
}

.poster {
  width: 40%;
}

img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.movie-properties {
  margin-top: 12px;
}

.movie-properties>div {
  margin-top: 10px;
}

b {
  margin-right: 6px;
}

.imdb-logo {
  position: relative;
  display: inline;
  margin-top: -50px;
  margin-left: 12px;
  max-width: 30px;
  width: auto;
  height: auto;
  top: 7px;
}
